<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bird Sightings</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
		<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
		
		<!-- bird list template -->
		<script type="text/template" id="bird-li-tpl">
    	{{#list}}
				<li><a href="{{url}}"><h4>{{title}}</h4></a></li>
			{{/list}}
		</script>
				
	</head>
<body>

	<div data-role="page" id="birds">
		<div data-role="header">
			<h1>Birds</h1>
		</div><!-- /header -->
		<div data-role="content">
			<ul id="bird-list" data-role="listview"></ul>
		</div><!-- /content -->
	</div><!-- /page -->

	<script>
		var bird_server = 'birds.mamp.chandima.info';
		var birdListTpl = Hogan.compile($("#bird-li-tpl").html());
	
		$('#birds').on('pageshow', function(event, ui){
			$.getJSON('http://'+bird_server+'/node.json?type=bird', function(data) {
				var html = birdListTpl.render(data);
				$('#bird-list').html(html);
				$('#bird-list').listview('refresh');
			});
		});
	</script>
	
</body>
</html>